@page
@model laundry.Pages.timeslot.EditModel

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>*@
<div class="row d-inline-flex justify-content-start">
    <div>
        <a asp-page="Index" class=" d-inline btn btn-tuwaiq-light text-light btn-sm">Back</a>
        <h4 class="p-3 d-inline">Edit booked time slot</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeSlotModel.Id" />
            <div class="form-group">
                <label asp-for="TimeSlotModel.name" class="control-label">Name</label>
                <input asp-for="TimeSlotModel.name" class="form-control" />
                <span asp-validation-for="TimeSlotModel.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlotModel.lm" class="control-label">Laundry Machine</label>
                @*<input asp-for="TimeSlotModel.lm" class="form-control" />*@
                <select class="form-control" asp-for="TimeSlotModel.lm">
                    <option>Please select one</option>
                    <option>Old machine</option>
                    <option>New machine</option>
                </select>
                <span asp-validation-for="TimeSlotModel.lm" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="TimeSlotModel.timeslot" class="control-label">Time Slot</label>
            <input asp-for="TimeSlotModel.timeslot" class="form-control" />
            <span asp-validation-for="TimeSlotModel.timeslot" class="text-danger"></span>
        </div>*@
            <div class="form-group">

                <label step="60" class="control-label">Select Date </label>
                <input class="form-control" min="2021-04-01" type="date" asp-for="SelectedDate" />

                <label step="60" class="control-label">Free Time Slots </label>

                @if (Model.freeTimeSlots != null)
                {
                    @Html.DropDownList("selectedTsVal", (IEnumerable<SelectListItem>)Model.freeTimeSlots, new { required = "required", @class = "form-control" })
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="mt-2 btn btn-tuwaiq-light text-light" />
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#SelectedDate").change(function () {
            var date = $(this).val();
            var lm = $("#TimeSlotModel_lm option:selected").text();

            $.ajax({
                url: '/freetimeslots',
                type: 'GET',
                data: { Date: date, LM: lm  },
                dataType: 'json',
                success: function (response) {

                    var len = response.data.length;
                    var res = response.data;
                    $("#selectedTsVal").empty();
                    for (var i = 0; i < len; i++) {
                        var text = res[i]['text'];
                        var value = res[i]['value'];

                        $("#selectedTsVal").append("<option value='" + value + "'>" + text + "</option>");

                    }
                }
            });
        });
        $("#TimeSlotModel_lm").change(function () {
            var date = $("#SelectedDate").val();
            var lm = $("#TimeSlotModel_lm option:selected").text();

            $.ajax({
                url: '/freetimeslots',
                type: 'GET',
                data: { Date: date, LM: lm },
                dataType: 'json',
                success: function (response) {

                    var len = response.data.length;
                    var res = response.data;
                    $("#selectedTsVal").empty();
                    for (var i = 0; i < len; i++) {
                        var text = res[i]['text'];
                        var value = res[i]['value'];

                        $("#selectedTsVal").append("<option value='" + value + "'>" + text + "</option>");

                    }
                }
            });
        });
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
